<main class="d-flex flex-col justify-content-center align-items-center min-vh-100">
  <div class="card card-avatar">
    <img src="https://avatars.githubusercontent.com/u/79556805?v=4" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</main>
